
@bg-header :#ffffff;
// @bg-header :#3577bb;
@bg-content: white;
@font-color: #222222;


* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    background: #f2f2f2;
    color: @font-color;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.hr {
    width: 100%;
    height: 1px;
    margin: 5px 0px;
    background: #c0c0c0;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
}


.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-out .2s;
}


@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0);
    }
}


.el-submenu [class^=fa] {
    vertical-align: baseline;
    margin-right: 10px;
}

.el-menu-item [class^=fa] {
    vertical-align: baseline;
    margin-right: 10px;
}



#studio{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
// Header

.panel-top {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background: @bg-header;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px #bbbbbb;
    .logo {
        padding: 5px 20px;
        height: 50px;
    }
    .tip {
        float: right;
        width: 40px;
        height: 60px;
        background: #34b4d4;
        line-height: 30px;
        div {
            height: 30px;
            width: 40px;
            margin: 0 0 5px;
            background: url('~assets/img/tip.png') no-repeat bottom center;
        }
        span {
            display: block;
            color: @bg-content;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
        }
    }
    .company {
        float: right;
        font-size: 14px;
        color: @font-color;
        line-height: 60px;
        padding: 0px 25px 0px 20px;
        font-weight: 400;
    }
    .tip-logout {
        float: right;
        margin-right: 30px;
    }
}

// left

.left {
    max-width: 200px;
    border-right:1px solid white;
    // 

    .kefu {

        width: 200px;
        height: 200px;
        background: @bg-content;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
}


// right

.right {
    padding: 0 15px;
    background: #f1f2f7;
    .crumb-box {
        padding: 10px 0;
        span{
            font-size:18px;
        }
    }


}


// 首页
.main{

    .new {
        margin: 20px 0;
        .list {

            background: @bg-content;
            padding: 15px;
            a {
                color: @font-color;
                display: block;
                text-decoration: none;
                margin: 0 10px;
                height: 55px;
                line-height: 55px;
                border-bottom: 1px solid #c0c0c0;
                span.inputtime {
                    float: right;
                }
            }
        }
    }

    .descript {
        padding: 15px 20px;
        background: white;
        .info-box {
            display: flex;
            .info {
                flex: 1;
                padding: 30px 0;
                text-align: center;
                .title {
                    img {
                        margin: 0 10px;
                    }
                }
                h1.number {
                    font-size: 50px;
                    color: rgb(226, 60, 62);
                    line-height: 1.8;
                }
            }
        }
    }

    .hot {
        background: @bg-content;
        position: relative;
        height: 50px;
        line-height: 50px;
        margin-bottom: 20px;
        .horn {
            width: 40px;
            height: 50px;
            display: block;
            float: left;
            background: url('~assets/img/hot.png') no-repeat center;
        }
        a {
            color: #888888;
            text-decoration: none;
        }
        .close {
            float: right;
            width: 40px;
            height: 50px;
            background: url('~assets/img/close.png') no-repeat center;
        }
    }

}


// 直播列表
.roomList{

    .room_box {
        overflow: hidden;
        .roomAdd,
        .roomItem {

            border-radius: 5px;
            border: 1px solid #888888;

            height: 200px;
            box-sizing: border-box;
            margin:10px 0;
            background: white;
        }
        .roomAdd {

            text-align: center;
            line-height: 200px;
            font-size: 18px;
            box-sizing: border-box;
        }
        .roomItem {
            position: relative;
            padding: 20px 0 0;
            img.thumb {

                width: 100px;
                height: 100px;
                margin: 0 10px;
                display: block;
                float: left;
            }
            .info {
                // float:right;
                // padding: 0 10px 0 120px;
                box-sizing: border-box;
                text-align:left;
                h3 {
                    font-size: 18px;
                    height: 44px;
                }
                span {
                    display: block;
                    margin: 10px 0 5px;
                }
            }
            .btn {
                cursor: pointer;
                width: 100%;
                position: absolute;
                bottom: 0;
                overflow: hidden;
                .btn_item{
                    padding: 5px 0;
                    border-right:1px solid #222222;
                    border-top:1px solid #222222;
                    text-align: center;
                    
                }
                :last-child{
                    border-right:none;
                }

            }
        }
        .v-link-active {
            color: red;
        }
    }


}

.studio_tab{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #f2f2f2;
    >.el-tabs__header{
        text-align: center;

        .el-tabs__item{
            display: inline-block;
            float: none;
            width: 120px;
        }
    }
}


.config{
    width:1200px;
    margin:0 auto;

    .plugin_box,.mobile_box,.common_box{
        margin-left:10px;
        float:left;
    }

    
    .mobile_box{


    }
    .common_box{

    }
}

.plugin{
    min-height:736px;
    width:320px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    .title{
        // width:
        font-size:18px;
        background:#20a0ff;
        height:60px;
        line-height:60px;
        text-align:center;
        color:white;
    }
    .box{

        padding:6px;
        .active {
            border: 1px solid #20A0FF;
            border-radius:3px;
        }
        fieldset{
            margin-bottom:10px;
            border:1px solid #c0c0c0;
            padding:5px 0px 10px;
            legend{
                padding:5px;
                color:#20a0ff;
            }
            .plugin_item{
                text-align:center;
                width:90px;
                height:90px;
                float:left;
                padding:10px 0px;
                margin:5px 0 5px 5px;
                box-sizing:border-box;
                .icon{
                    width:50px;
                    height: 50px;
                    display:inline-block;
                    background-repeat: no-repeat;
                    background-size:50px ;
                    background-position: center center;
                }
                .name{
                    color:#555555;
                    margin:5px 0;
                    height:15px;
                    line-height:15px;
                    font-size:14px;
                }
            }
        }
    }

}

.mobile{
    width:414px;
    height:736px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    overflow:hidden;
    // background: url('~assets/img/mobile.png') no-repeat top center;
    background-size: cover;
    //手机模型的内容显示区
    .header{
        height:64px;
        line-height:64px;
        text-align:center;
    }
    .wrap{

         height:672px;

         .mobile_menu{
            width:100%;
            height: 44px;
            background:#F9FAFC;
            .menu_item {
                // padding-left: 10px;
                height:44px;
                line-height:44px;
                text-align:center;
                box-sizing:border-box;
                float:left;
            }
            :hover {
                cursor: pointer;
                background:#D3DCE6;
            }

        }
    }
}

.common{
    width:390px;
    height:736px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    >.el-tabs__header{
        display:flex;
        .el-tabs__item{
            flex:1;
            text-align:center;
        }
    }
    // >.el-tabs__header{
    //     .el-tabs__item{
    //         width:120px;
    //         .el-tabs__active-bar{
    //             width:120px;
    //         }
    //     } 
    // }
       

    .origin{
     
    }
}