@import 'base.less';
@import 'layout.less';
@import 'home.less';
@import 'roomlist.less';
@import 'room.less';



//排在plugin/mobile/common后面的就是各种dialog了


//hack dialog
.el-dialog{
    min-width: 800px;
}
.el-dialog__header{
    text-align:center;
    background:#8492A6;
    border-bottom:1px solid #F9FAFC;
    padding:10px;
}
.el-dialog__body{
    padding:15px 10px;
}


.menuModal{
//  width: 100%;
}

.adverModal{

    .advert_table{
        
        
       
    }
}

